.region-homeright .block .content,
.region-homemore .block .content {
	background: #f3f3f3;
	padding: 10px;
}

.region-homeleft .block .content,
.region-homebottom .block .content {
	padding: 10px;
}

.region-homeleft .block.first .content {
	padding: 0;
}


